.recalls {
    padding: 6.875rem 0 3.125rem;
    background: url(../img/recalls-bg.jpg) center / cover no-repeat;
    @media #{$mobile} {
        padding: 30px 0;
        }
    ul {
        font-size: 0;
        li {
            display: inline-block;
            margin-bottom: 4.375rem;
            width: 50%;
            @media #{$mobile} {
                width: 100%;
                text-align: center;
            }
        }
    }
    &__thumb {
        display: inline-block;
        width: 30%;
        vertical-align: top;
        @media #{$mobile} {
            display: block;
            margin-bottom: 15px;
            width: 100%;
        }
    }
    &__logo {
        @include vh(110px,110px);
        margin: 0 auto;
        border-radius: 50%;
    }
    &__descr {
        display: inline-block;
        width: 70%;
        vertical-align: top;
        @media #{$mobile} {
            display: block;
            width: 100%;
        }
    }
    &__top {
        h5 {
            @include monst(14px,14px);
            text-transform: uppercase;
            color: $text;
        }
        p {
            @include rob(15px,15px);
            position: relative;
            padding: 15px 0;
            margin-bottom: 25px;
            color: $text;
            &::before {
                @include vh(60px,3px);
                position: absolute;
                content: '';
                left: 0;
                bottom: -3px;
                background: #f38181;
            }
        }
    }
    &__bottom {
        p {
            @include rob(15px,24px);
            padding-right: 3.125rem;
            color: $text;
        }
    }
}