.slider__inner {
  position: relative; }

.slider__intro {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 830px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .slider__intro p {
    font-family: 'Kaushan Script', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 4.5rem;
    line-height: normal;
    color: #fff; }
  .slider__intro h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 9.375rem;
    line-height: 9.375rem;
    position: relative;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    color: #fff; }
    .slider__intro h2::before {
      position: absolute;
      content: '';
      margin-left: -30px;
      left: 50%;
      bottom: 0;
      width: 60px;
      height: 3px;
      background: #fff; }

.navgation {
  position: relative;
  z-index: 100; }

.section-title {
  text-align: center;
  margin-bottom: 2.5em; }
  .section-title p {
    font-family: 'Kaushan Script', cursive;
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding-bottom: 20px;
    color: #000; }
  .section-title h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.875rem;
    line-height: 1.875rem;
    position: relative;
    padding-bottom: 50px;
    text-transform: uppercase;
    color: #000; }
    .section-title h3::before {
      position: absolute;
      content: '';
      margin-left: -30px;
      left: 50%;
      bottom: 0;
      width: 60px;
      height: 3px;
      background: #f38181; }

.about {
  padding: 6.250em 0 6.560em; }
  .about__descr {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-bottom: 5em;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    text-align: center;
    color: #999999; }
  .about__list {
    text-align: center;
    font-size: 0;
    margin: 0 -15px; }
    @media (max-width: 767px) {
      .about__list {
        margin: 0; } }
    .about__list li {
      display: inline-block;
      margin: 10px 15px;
      background: #95e1d3;
      transition: all .3s; }
      .about__list li a {
        position: relative;
        display: block;
        cursor: pointer; }
        .about__list li a::before {
          position: absolute;
          content: '';
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: url(/assets/img/ab-hover.jpg) 0 0 no-repeat;
          opacity: 0;
          z-index: 1;
          transition: .3s; }
        .about__list li a:hover::before {
          left: -10px;
          top: -10px;
          opacity: .8; }
        .about__list li a:hover img {
          transform: translate(-10px, -10px); }
        .about__list li a:hover .about__add {
          opacity: 1;
          z-index: 10; }
          .about__list li a:hover .about__add span {
            opacity: 1;
            transform: translate(-10px, -10px); }
      .about__list li img {
        transition: .3s; }
  .about__add {
    position: absolute;
    display: block;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s;
    opacity: 0; }
    .about__add span {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-style: normal;
      font-size: 1.125rem;
      line-height: 1.125rem;
      display: block;
      padding-top: 0.625em;
      text-transform: uppercase;
      color: #fff;
      transition: .3s; }

.numbers {
  background: #95e1d3; }
  .numbers__list {
    font-size: 0; }
    .numbers__list li {
      padding: 80px 0;
      display: inline-block;
      width: 20%;
      vertical-align: top;
      border-left: 1px solid #b5eae0; }
      @media (max-width: 767px) {
        .numbers__list li {
          display: block;
          padding: 30px 0;
          width: 100%;
          border-left: none;
          border-top: 1px solid #b5eae0; } }
      .numbers__list li:last-child {
        border-right: 1px solid #b5eae0; }
      .numbers__list li span {
        display: block;
        text-align: center; }
        .numbers__list li span:first-child {
          font-family: 'Montserrat', sans-serif;
          font-weight: bold;
          font-style: normal;
          font-size: 4.5rem;
          line-height: 4.5rem;
          padding-bottom: 25px;
          color: #fff; }
        .numbers__list li span:last-child {
          font-family: 'Montserrat', sans-serif;
          font-weight: normal;
          font-style: normal;
          font-size: 0.875rem;
          line-height: 0.875rem;
          text-transform: uppercase;
          color: #fff; }

.service {
  padding: 6.250em 0em 6.560em; }
  .service__list {
    font-size: 0;
    text-align: center; }
    .service__list._decor {
      padding-bottom: 50px;
      border-bottom: 1px solid #e5e5e5; }
      @media (max-width: 767px) {
        .service__list._decor {
          border-bottom: none;
          padding-bottom: 0; } }
    .service__list._pt {
      padding-top: 50px; }
      @media (max-width: 767px) {
        .service__list._pt {
          padding-top: 0; } }
    .service__list li {
      display: inline-block;
      width: 33%;
      vertical-align: top;
      text-align: left; }
      @media (max-width: 767px) {
        .service__list li {
          margin-bottom: 20px;
          width: 100%;
          text-align: left; } }
  .service__ic, .service__descr {
    display: inline-block;
    vertical-align: top; }
  .service__ic {
    width: 20%;
    text-align: center; }
  .service__descr {
    width: 78%; }
    .service__descr h4 {
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 0.875rem;
      line-height: 0.875rem;
      padding-bottom: 10px;
      text-transform: uppercase;
      color: #333333; }
    .service__descr p {
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 0.9375rem;
      line-height: 1.5rem;
      color: #999999; }

.devices {
  padding-top: 6.563rem;
  background: url(/assets/img/devices-bg.jpg) center/cover no-repeat; }
  .devices__tablet {
    position: relative;
    margin: 0 auto;
    max-width: 477px;
    width: 100%;
    height: 582px;
    background: url(/assets/img/devices-tablet.png) center/cover no-repeat; }
  .devices__mobile {
    position: absolute;
    right: -120px;
    bottom: -80px;
    width: 210px;
    height: 460px;
    background: url(/assets/img/devices-mobile.png) center/cover no-repeat; }

.accordion__item {
  display: block;
  margin-bottom: 10px;
  padding: 15px;
  height: 60px;
  border: 1px solid #e5e5e5; }
  .accordion__item a {
    display: block;
    text-align: left; }
    .accordion__item a:hover span {
      color: #95e1d3; }
    .accordion__item a i {
      display: inline-block;
      margin-right: 15px;
      vertical-align: middle;
      text-align: center; }
    .accordion__item a span {
      font-family: 'Montserrat', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 0.875rem;
      line-height: 0.875rem;
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase;
      color: #333333;
      transition: .3s; }

.accordion__text {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  padding: 0 10px;
  margin-top: -11px;
  margin-bottom: 10px;
  max-height: 180px;
  font-style: italic;
  text-align: left;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  color: #999999; }
  .accordion__text p {
    padding: 10px; }
  .accordion__text.active {
    display: block; }

.we-do {
  padding: 6.563rem 0; }
  .we-do__descr {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 0.9375rem;
    line-height: 1.5rem;
    margin-bottom: 5.625rem;
    text-align: center;
    color: #999999; }
  .we-do__inner {
    margin: 0 -30px;
    text-align: center;
    font-size: 0; }
  .we-do__img, .we-do__acc {
    display: inline-block;
    margin: 0 15px;
    vertical-align: top; }
  .we-do__img {
    max-width: 560px;
    width: 100%; }
  .we-do__acc {
    max-width: 600px;
    width: 100%; }

.quotes {
  background: #f8f8f8; }
  .quotes__wrapper {
    padding: 4.375rem 6.25rem; }
  .quotes__ic {
    position: relative;
    display: inline-block;
    margin-right: 3.75rem;
    vertical-align: top;
    width: 150px;
    height: 150px;
    border: 2px solid #95e1d3; }
    .quotes__ic img {
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0; }
  .quotes__cite {
    display: inline-block;
    width: calc(100% - 230px);
    vertical-align: top; }
    @media (max-width: 767px) {
      .quotes__cite {
        width: 100%; } }
    .quotes__cite p {
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 1.5rem;
      line-height: 2.25rem;
      padding-bottom: 20px;
      font-style: italic;
      color: #999999; }
      .quotes__cite p:last-child {
        font-family: 'Kaushan Script', cursive;
        font-weight: normal;
        font-style: normal;
        font-size: 1.5rem;
        line-height: 1.5rem;
        position: relative;
        padding-left: 70px;
        color: #000; }
        .quotes__cite p:last-child::before {
          position: absolute;
          content: '';
          left: 0;
          top: 10px;
          width: 60px;
          height: 3px;
          background: #f38181; }
  .quotes .left-arr,
  .quotes .right-arr {
    position: absolute;
    top: 45%;
    left: 2em;
    cursor: pointer;
    z-index: 10; }
  .quotes .right-arr {
    left: auto;
    right: 2rem; }

.team__list {
  margin: 0 -15px;
  font-size: 0;
  text-align: center; }
  .team__list li {
    display: inline-block;
    margin: 15px;
    max-width: 380px;
    width: 100%;
    vertical-align: top;
    background: #95e1d3; }
    .team__list li a {
      position: relative;
      display: block;
      cursor: pointer; }
      .team__list li a::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(/assets/img/team-hover.jpg) 0 0 no-repeat;
        opacity: 0;
        z-index: 1;
        transition: .3s; }
      .team__list li a:hover::before {
        left: -10px;
        top: -10px;
        opacity: .8; }
      .team__list li a:hover img {
        transform: translate(-10px, -10px); }
      .team__list li a span {
        display: inline-block;
        width: 100%;
        font-size: 14px; }
      .team__list li a img {
        transition: .3s; }

.team__descr {
  margin-top: -4px;
  text-align: center;
  background: #fff; }

.team__name {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 0.875rem;
  padding: 1.875rem 0 0.75rem;
  text-transform: uppercase;
  color: #999999; }

.team__position {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  font-style: italic;
  color: #999999; }

.team__social {
  display: block;
  background: transparent; }
  .team__social a {
    display: inline-block;
    width: 56px;
    height: 56px;
    text-align: center;
    background: #fce38a;
    font-size: 14px; }
    .team__social a img {
      display: inline-block;
      height: auto; }
    .team__social a:hover img {
      transform: translate(0px, 0px); }

html {
  font-size: 16px; }
  @media (min-width: 768px) and (max-width: 1025px) {
    html {
      font-size: 14px; } }
  @media (max-width: 767px) {
    html {
      font-size: 12px; } }

body {
  margin: 0;
  padding: 0;
  font-size: 16px; }
  @media (min-width: 768px) and (max-width: 1025px) {
    body {
      font-size: 14px; } }
  @media (max-width: 767px) {
    body {
      font-size: 12px; } }

li {
  list-style: none; }

ul, h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

* {
  box-sizing: border-box; }

.center {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1025px) {
    .center {
      width: 98%; } }
  @media (max-width: 767px) {
    .center {
      width: 98%; } }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

::-webkit-input-placeholder {
  font-family: 'Calibri';
  color: #434343;
  font-size: 18px;
  text-overflow: ellipsis; }

::-moz-placeholder {
  font-family: 'Calibri';
  color: #434343;
  font-size: 18px;
  text-overflow: ellipsis; }

/* Firefox 19+ */
:-moz-placeholder {
  font-family: 'Calibri';
  color: #434343;
  font-size: 18px;
  text-overflow: ellipsis; }

/* Firefox 18- */
:-ms-input-placeholder {
  font-family: 'Calibri';
  color: #434343;
  font-size: 18px;
  text-overflow: ellipsis; }

.button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 40px;
  display: inline-block;
  padding: 0 30px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border: 2px solid #fff; }
  .button._mb {
    margin-bottom: 120px; }
